# Python
__pycache__/
*.py[cod]
*.pyo
.env
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Alembic
alembic/versions/*.pyc

# Node
node_modules/
.next/
out/
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Docker
*.log
